.App {
  text-align: center;
}
.TableInfomation{
  border: 1px solid;
  width: 25%;
  padding: 2px;
  margin-left: 37%;
  margin-top: 10px;
}
.Infomation{
  margin-left: 37%;
  padding: 2px;
  width: 24.6%;
  border: 1px solid;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
button{
  cursor: pointer;
}
.TextShow{
  font-size: 30px;
  padding: 10px;
  color: cornflowerblue;
  font-weight: 500;
}